/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.logo-container {
    display: flex;
    gap: 10px;
}

.logo {
    height: 40px;
}

.nav-tools {
    display: flex;
    justify-content: space-around;
    background-color: #0066cc;
    padding: 10px 0;
    margin: 0;
}

.nav-tools a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-tools a:hover {
    background-color: #005bb5;
}

#map-container {
    display: flex;
    height: calc(100% - 122px); /* Adjust according to header and footer height */
}

#map {
    flex-grow: 1;
}

#sidebar {
    width: 300px;
    background: #f4f4f4;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    position: relative;
    transition: width 0.3s;
}

#toggle-button {
    position: absolute;
    top: 10px;
    left: -40px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle-button:hover {
    background-color: #555;
}

#sidebar.collapsed {
    width: 0;
}

#sidebar.collapsed #sidebar-content {
    display: none;
}

#sidebar-content {
    padding: 20px;
}

.fancy-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.fancy-input, .fancy-slider, .fancy-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn.clear {
    background-color: #f44336;
}

.btn.clear:hover {
    background-color: #d32f2f;
}

.btn.run {
    background-color: #4caf50;
}

.btn.run:hover {
    background-color: #388e3c;
}

.btn.menu {
    background-color: #2196f3;
}

.btn.menu:hover {
    background-color: #1976d2;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

footer a:hover {
    text-decoration: underline;
}
